<div class="mainContainer">
    <div class="fgpwdBlock">
        <ul>
            <li>
                <input type="text" placeholder="Enter user id" class="form-control">
            </li>
            <li>
                <input type="text" placeholder="Enter mail id" class="form-control">
            </li>
            <li>
                <input type="button" value="Send Mail" class="btn btn-primary">
                <input type="button" value="Back To Login Page" class="btn btn-primary" onclick="loadSelectedPage('login')">
            </li>
        </ul>
    </div>
</div>