<div class="mainContainer">
    <div class="newSignupBlock container">
        <ul>
            <li>
                <input type="text" placeholder="Enter Name" class="form-control" id="uid">
            </li>
            <li>
                <input type="password" placeholder="Choose Password" class="form-control" id="pwd">
            </li>
            <li>
                <input type="text" placeholder="Renter Password" class="form-control">
            </li>
            <li>
                <input type="text" placeholder="Mail Id" class="form-control" id="userMailId">
            </li>
          
            <li>
                <input type="button" value="Register" class="btn btn-primary" onclick="saveAccountDetails()">
                <input type="button" value="Back To Login Page" class="btn btn-warning" onclick="loadSelectedPage('login')">
            </li>
            <li class="signupUserMsg">
                
            </li>
        </ul>
    </div>
</div>