<div class="detailsCard">
    <img src="{{imageUrl}}" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{pname}}</h5>
        <p class="card-text">{{description}}</p>
        <p class="card-text">
            <span class="actualPrice">{{actualPrice}}</span>
            <span class="afterDiscount">{{priceAfterDiscount}}</span>
        </p>
        <p id="{{pid}}">RAting about to come</p>
        <a href="#" class="btn btn-primary" id="{{pid}}" onclick="openIndividualProductDetailsPage(event)">View More Details</a>
    </div>
</div>